{% extends "::base.html.twig" %}

{% block title %}AppBundle:Blog:affichvideo{% endblock %}

{% block body %}
<br><br>
<div class="container">
  <table class="menuuser">
    <tr>
      <td><a href="user_affichecour" class="btn btn-large btn-info"><i class="fa fa-book" aria-hidden="true"></i>
        doccumment</a></td>
      <td><a href="user_affichepragramme" class="btn btn-large btn-success"><i class="fa fa-edit" ></i>programmes</a></td>
      <td><a href="user_afficheresultat" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>
        resultat</a></td>
      <td><a href="user_affichvideo" class="btn btn-warning"><i class="fa fa-fast-forward" aria-hidden="true"></i>
        videos</a></td>
      <td><a href="" class="btn btn-large btn-info"><i class="fa fa-wrench" aria-hidden="true"></i>déconnexion</a></td>
    </tr>

  </table><br><br>



<div class="row">
    {% for document in document %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnails"></div>
        <video controls alt="" height="450"   width="300">
                            <source  src="{{ asset('uploads/document/' ~ document.path) }}" />

                        </video>
                        <div class="caption">
                            <p> {{ document.description }}</p>

                        </div>


    </div>
    {% endfor %}


</div>
<div class="navigation">
    {{ knp_pagination_render(document) }}
  </div>
</div>

{% endblock %}
