{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="container">



<form class="col-lg-6" method="post" action="rechercherevenment">

<div class="form-group">
    <table>
        <tr>
            <td width="100%">
                <input id="text" type="text" class="form-control" name="motcle" >
            </td>
            <td>
                <button type="submit" class="btn btn-info" ><i class="fas fa-search"></i></button>

            </td>
        </tr>
    </table>



</div>
</form>


    		<table class="table" >
    			<tr>
    				<td> <b>INTITULE DE L'EVENEMENT</b></td><td> <b>DATE</b></td><td> <b>DEPARTEMENT</b></td><td> <b>DESCRPTION</b></td>
    			</tr>

    			{% for even in even %}

    			<tr>
    				<td> {{ even.intituleEvenement }}</td>
    				<td>{{ even.dateEvenement}} </td>
            <td>{{ even.Departement }} </td>
            <td><p> {{ even.description}}</p> </td>
    			</tr>
    			{% endfor %}

    		</table>
    	</div>
    	<div class="navigation">
    {{ knp_pagination_render(even) }}
</div>

</div>
{% endblock %}
