{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <a href="user/affichecour" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i>
    Log</a>
  <center><h3>Inscription</h3></center><br><br>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-large btn-info"/>
    {{ form_end(form) }}

{% endblock %}
