{% extends 'base.html.twig' %}

{% block body %}
</form>


    		<table class="table" >

    			{% for formation in formation %}

    			<tr>
    				<td><p> <h4> <b>{{ formation.nom }}</b> </h4><br>
              {{ formation.description }}</p> </td>
            <td>  <img src="{{ asset('uploads/formation/' ~ formation.path) }}" alt=""> </td>

    			</tr>
    			{% endfor %}

    		</table>
    	</div>
    	<div class="navigation">
    {{ knp_pagination_render(formation) }}
</div>


{% endblock %}
