{% extends "::base.html.twig" %}

{% block title %}AppBundle:Blog:affichecour{% endblock %}

{% block body %}
<div class="container">
  <table class="menuuser">
    <tr>
      <td><a href="user_affichecour" class="btn btn-large btn-info">doccumment</a></td>
      <td><a href="user_affichepragramme" class="btn btn-large btn-success">programmes</a></td>
      <td><a href="user_afficheresultat" class="btn btn-primary">resultat</a></td>
      <td><a href="user_affichvideo" class="btn btn-warning">videos</a></td>
      <td><a href="" class="btn btn-large btn-info"><i class="fa fa-wrench" aria-hidden="true"></i>déconnexion</a></td>
    </tr>

  </table><br><br>
  <a href="" class="btn btn-large btn-info">resultats publiés</a>


    		<table class="table" >
    			<tr>
    				<td> <b>intitulé du resultat</b></td><td> <b>date de publication</b></td><td> <b>action</b></td>
    			</tr>

    			{% for document in document %}

    			<tr>
    				<td> {{ document.nom }}</td>
            <td> {{ document.datePublication }}</td>
    				<td><a href="{{ asset('uploads/document/' ~ document.path) }}" >Telecharger</a> </td>
    			</tr>
    			{% endfor %}

    		</table>

    	<div class="navigation">
    {{ knp_pagination_render(document) }}
</div>
</div>
{% endblock %}
