{% extends 'base.html.twig' %}

{% block body %}
<br><br><br>
<div class="container">


    <h2>Niveau creation</h2>
    <br>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <br>


            <a href="{{ path('admin_niveau_index') }}" class="btn btn-large btn-info">Back to the list</a>

</div>
{% endblock %}
