<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       <link  href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </head>
    <style>
    body{
      padding-top: 10px;
    }
    #navbare{
      width: 90%;
      height: 70px;
      color: white;

    }
    #toto{
      text-color: white;
    }
    #nav{


      width: 90%;
    }
    #linkref{
      color: white;
      text-decoration: blue;
      padding: 15px;
      top: 0;
    }
    .slider{
        width: 500px;
        height: 300px;
        overflow: hidden;
        margin: 130px auto;
    }
    .slides{
    width: calc(500px * 3);
    animation: glisse 12s infinite;
     }
    .slide{
        float: left;
     }
     @keyframes glisse{
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
         33%{
            transform: translateX(-5000);
        }
        43%{
           transform: translateX(-5000);
       }
         66%{
            transform: translateX(-1000px);
        }
        76%{
           transform: translateX(-1000px);
       }
         100%{
            transform: translateX(0);
        }

     }
.def {                                                   /** gros titre */
  font-family: serif;                                  /* On se permet un changement de police : pas plus de deux par page, et à utiliser avec parcimonie (c'est le cas) */
  background-color: blue;                              /* Fond du titre bleu (et sans image de fond) */
  color: white;                                          /*  Donc on utilise une police blanche pour que le texte soit visible */
  border: 3px dotted #9999FF;                            /* On encadre le titre d'un bleu clair de 3 pixels de largeur */
  padding: 0.3em;                                       /* Espacement intérieur non nul pour que le texte ne colle pas à la bordure du cadre */
   text-align: center;                                     /* Le titre doit être centré ! */
  letter-spacing: 0.7em;
    border-radius: 80px ;                                 /* On espace les caractères pour que ce soit joli :-) */
}
        .def {                                                   /** gros titre */
  font-family: serif;                                  /* On se permet un changement de police : pas plus de deux par page, et à utiliser avec parcimonie (c'est le cas) */
  background-color: blue;                              /* Fond du titre bleu (et sans image de fond) */
  color: white;                                          /*  Donc on utilise une police blanche pour que le texte soit visible */
  border: 3px dotted #9999FF;                            /* On encadre le titre d'un bleu clair de 3 pixels de largeur */
  padding: 0.3em;                                       /* Espacement intérieur non nul pour que le texte ne colle pas à la bordure du cadre */
   text-align: center;                                     /* Le titre doit être centré ! */
  letter-spacing: 0.7em;
    border-radius: 80px ;                                 /* On espace les caractères pour que ce soit joli :-) */
}
.droit {
  align: height;
  text-color: #000000;
  text-decoration: blue;
}
.entete {
  align: height;
  text-color: red;
  text-decoration: blue;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu-bar{
  background: rgba(0,100,0);
  text-align: center;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li{
  width: 150px;
  margin: 5px;
  padding: 5px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: #fff;
}
.active,.menu-bar ul li:hover{
  background: #2bab0d;
  border-radius: 3px;


}
.sub-menu-1{
  display: none;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: rgb(0, 100, 0);
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color: #b2ff00;
}
.fa fa-angle-right{
  float: right;
}
.sub-menu-2{
  display: none;
}
.hover-me:hover .sub-menu-2{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: rgb(0, 100, 0);

}
.menu-bar .fa{

  margin-right: 8px;
}
.mino{
  text-color: green;
}
.menuuser{
  align: right;
}
</style>
<div class="container">

<div id="navbare">




<div class="container">
  <table width="80%"  >
    <tr>
      <td><a href="evenentaffich" id="droit"><i class="fa fa-archive" aria-hidden="true"></i>
       evenement</a> </td>

      <td><a href=""><i class="fa fa-phone" ></i>contacts</a> </td>

      <td><a href="inscription"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
        espace etudiants</a> </td>
        <td><a href=""><i class="fa fa-wrench" aria-hidden="true"></i>
          connection</a> </td>
    </tr>

  </table>
  <br><br>


    <marquee direction="" class="def"><h2 > Departement d'Informatique et Telecommunication de l'Ecole Nationale Superieure Polytechnique de Maroua </h2></marquee>

</div>
</div>
<br><br><br><br><br><br>
<div class="menu-bar">
  <ul>
      <li class="active"><a href="/"><i class="fa fa-home" ></i>
            HOME</a></li>
      <li><a href=""><i class="fa fa-edit" ></i>FORMATION</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="informatique">INFORMATIQUE  <i class="fa fa-angle-right"></i></a></li>
            <li><a href="telecom">TELECOMMICATION<i class="fa fa-angle-right"></i> </a></li>
          </ul>

        </div>
      </li>
      <li><a href=""><i class="fa fa-clone" ></i>L'ECOLE</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href=""><i class="fa fa-angle-right"></i>PRESENTATION</a> </li>
            <li><a href=""> <i class="fa fa-angle-right"></i>PROJETS ETUDIANTS</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i> AVANTAGES ETUDIANTS</a></li>
          </ul>

        </div>
      </li>
      <li><a href=""><i class="fa fa-folder-open" aria-hidden="true"></i>
          ADMISSION</a></li>
      <li><a href="evenentaffich"><i class="fa fa-angellist" ></i>EVENEMENT</a></li>
      <li><a href=""><i class="fa fa-phone" ></i>CONTACTS</a></li>
        <li><a href=""><i class="fa fa-user" ></i>CONNECTION</a>
          <div class="sub-menu-1">
            <ul>
              <li class="hover-me"><a href="inscription"><i class="fa fa-angle-right"></i>INSCRIPTION</a>

              </li>
              <li class="hover-me"><a href=""><i class="fa fa-angle-right"></i>LOGIN</a>
                <div class="sub-menu-2">
                  <ul>
                    <li>log</li>
                  </ul>

                </div>
              </li>
            </ul>

          </div>
        </li>
  </ul>
</div>


<br><br><br>



    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
