{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <table width="100%">
    <tr>
      <td>
          <img src="uma.jpeg" >
      </td>
      <td>
        <p>
          <center>

              <h2 id="toto">UNIVERSITE DE MAROUA</h2>
            <br>
            <h2><i> ECOLE NATIONALE SUPERIEURE POLYTECHNIQUE DE MAROUA</i></h2><br>
            <h2><b>DEPARTEMENT D'INFORMATIQUE ET DES TELECMMUNICATIONS</b>   </h2>
          </center>

        </p>

      </td>
      <td>
            <img src="uma.jpeg" >
      </td>
    </tr>

  </table>
  <br><br>
  <table class="table" >

    {% for formation in formation %}

    <tr>
      <td><p> <h4> <b>{{ formation.nom }}</b> </h4><br>
        {{ formation.description }}</p> </td>
      <td>  <img src="{{ asset('uploads/formation/' ~ formation.path) }}" alt="" width="550" height="400"> </td>

    </tr>
    {% endfor %}

  </table>
</div>
<div class="navigation">
{{ knp_pagination_render(formation) }}
</div>
  <table width="100%">
    <tr>
      <td><h4><b>FILIERE TELECOMMUNICATIONS</b> </h4> </td>
      <td><h4><b>FILIERE INFORMATIQUE</b> </h4> </td>
    </tr>
    <tr>
      <td>
        <p>
          <h5>
            <br><br>
            L'objectif de la formation est de donner aux future <br>ingénieurs
            l'ensemble des connaissances de bases <br>relatives aux quatre doomaines
            qui constituent <br>le socle des Telecommunications, Services et<br> Usages
            à savoir l'Informatique le Reseaux ,les Telecommunications et les
            Humanités. Les etudiants<br>  doivent etre capables de de comprendre
            le <br> fonctionnement et l'utilisation  des technologies et<br>  les supports
            pour les télécommunications et de l'informatique,consevoir des
            architectures de <br> systemes de communication,des applictions et<br>  des
            servises ,developper les dommines de recherche appliquée adaptée aux
            besoins du pays et de la region du sahel,integrer les Télécoms dans la
             strategie de l'entreprise et situer les enjeux techniques,ecoconomiques
             et organisationnels
          </h5>
        </p>
      </td>
      <td>
        <p>
          <h5>
            La filiere Informatique forment les ingenieurs de haut niveau specialistes
            de l'informatique et de la communication. Les objectifs des programmes de formations
            sont cohérents avec les besoins exprimés par l'environnement économique sahélien.
            Ils permettent de donner les aptitudes a cosevoir et mettre en oeuvre des solutions
            économiquement  et technologiegiquement pertinentes dans un contexte technologiegiquement
            en constante évolution, donner une grande adaptabilité et un fort potentiel à enrichir
            leurs compétences.

          </h5>
        </p>
      </td>
    </tr>

  </table>
  <div class="slider">
    <div class="slides">
        <div class="slide"><img src="uma.jpeg" ></div>
        <div class="slide"><img src="uma2.jpg" ></div>
        <div class="slide"><img src="2.jpg" ></div>
    </div>
</div>

</div>







{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
