{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="container">
    <h2>Niveaus list</h2>
    <a href="{{ path('admin_niveau_new') }}" class="btn btn-large btn-info">Create a new niveau</a>


    <table class="container">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Options</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau in niveaus %}
            <tr>
                <td><a href="{{ path('admin_niveau_show', { 'id': niveau.id }) }}">{{ niveau.id }}</a></td>
                <td>{{ niveau.nom }}</td>
                <td>{{ niveau.options }}</td>
                <td>

                            <a href="{{ path('admin_niveau_show', { 'id': niveau.id }) }}" class="label label-warning">show</a>

                            <a href="{{ path('admin_niveau_edit', { 'id': niveau.id }) }}" class="label label-danger">edit</a>
                        <
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
