{% extends 'base.html.twig' %}

{% block body %}
<div class="contacts">

</div>
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-warning"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}" class="btn btn-success">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
