{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h4 >Cours list</h4>
    <a href="{{ path('admin_cours_new') }}" class="btn btn-large btn-info">Create a new cour</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitulecours</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td><a href="{{ path('admin_cours_show', { 'id': cour.id }) }}">{{ cour.id }}</a></td>
                <td>{{ cour.intituleCours }}</td>
                <td>{{ cour.code }}</td>
                <td>

                            <a href="{{ path('admin_cours_show', { 'id': cour.id }) }}" class="label label-warning">show</a>

                            <a href="{{ path('admin_cours_edit', { 'id': cour.id }) }}" class="label label-danger">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




</div>
{% endblock %}
