{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cour</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Intitulecours</th>
                <td>{{ cour.intituleCours }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ cour.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cours_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_cours_edit', { 'id': cour.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
