{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="container">


    <h4>Departements list</h4>
    <a href="{{ path('admin_departement_new') }}" class="btn btn-large btn-info">Create a new departement</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td><a href="{{ path('admin_departement_show', { 'id': departement.id }) }}">{{ departement.id }}</a></td>
                <td>{{ departement.nom }}</td>
                <td>{{ departement.code }}</td>
                <td>

                      <a href="{{ path('admin_departement_show', { 'id': departement.id }) }}" class="btn btn-warning">show</a>

                      <a href="{{ path('admin_departement_edit', { 'id': departement.id }) }}"class="btn btn-danger">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
