{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="container">


    <h4>Departement creation</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"  class="btn btn-large btn-info"/>
    {{ form_end(form) }}
    <br>

            <a href="{{ path('admin_departement_index') }}" class="btn btn-success">Back to the list</a>

</div>
{% endblock %}
