{% extends 'base.html.twig' %}

{% block body %}
<br><br>
<div class="container">


    <h1>Departement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ departement.nom }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ departement.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_departement_index') }}" class="btn btn-success">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_departement_edit', { 'id': departement.id }) }}"class="btn btn-warning">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
  </div>
{% endblock %}
