{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h4 class="list-group-item active">Documents list</h4>
      <a href="{{ path('admin_document_new') }}" class="btn btn-large btn-info">Create a new document</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Path</th>
                <th>Type</th>
                <th>Datepublication</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{{ path('admin_document_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                <td>{{ document.nom }}</td>
                <td>{{ document.path }}</td>
                <td>{{ document.type }}</td>
                <td>{% if document.datePublication %}{{ document.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ document.description }}</td>
                <td>

                            <a href="{{ path('admin_document_show', { 'id': document.id }) }}"  class="label label-warning">show</a>

                            <a href="{{ path('admin_document_edit', { 'id': document.id }) }}" class="label label-danger" >edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
