{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h4 class="list-group-item active">Document creation</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <br>


            <a href="{{ path('admin_document_index') }}" class="btn btn-large btn-info">Back to the list</a>
    </div>
{% endblock %}
