{% extends 'base.html.twig' %}

{% block body %}
<br><br><br>
<div class="container">


    <h2>Formations list</h2>
    <a href="{{ path('admin_formation_new') }}" class="btn btn-large btn-info">Create a new formation</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('admin_formation_show', { 'id': formation.id }) }}">{{ formation.id }}</a></td>
                <td>{{ formation.nom }}</td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.path }}</td>
                <td>

                      <a href="{{ path('admin_formation_show', { 'id': formation.id }) }}" class="btn btn-warning">show</a>

                      <a href="{{ path('admin_formation_edit', { 'id': formation.id }) }}" class="btn btn-danger">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
