{% extends 'base.html.twig' %}

{% block body %}
<br><br><br>
<div class="container">


    <h2>Formation creation</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}


            <a href="{{ path('admin_formation_index') }}" class="btn btn-large btn-info">Back to the list</a>
</div>
{% endblock %}
