{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h1>Evenements list</h1>
    <a href="{{ path('admin_evenement_new') }}" class="btn btn-large btn-info">Create a new evenement</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intituleevenement</th>
                <th>Dateevenement</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('admin_evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                <td>{{ evenement.intituleEvenement }}</td>
                <td>{% if evenement.dateEvenement %}{{ evenement.dateEvenement|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ evenement.description }}</td>
                <td>

                            <a href="{{ path('admin_evenement_show', { 'id': evenement.id }) }}" class="btn btn-warning">show</a>

                            <a href="{{ path('admin_evenement_edit', { 'id': evenement.id }) }}" class="btn btn-danger">edit</a>
                      
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



</div>
{% endblock %}
