{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h1>Evenement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-large btn-info"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_evenement_index') }}" class="btn btn-success">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
