{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Intituleevenement</th>
                <td>{{ evenement.intituleEvenement }}</td>
            </tr>
            <tr>
                <th>Dateevenement</th>
                <td>{% if evenement.dateEvenement %}{{ evenement.dateEvenement|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_evenement_index') }}" class="btn btn-success">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_evenement_edit', { 'id': evenement.id }) }}" class="btn btn-warning" >Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
